body{
    background-color: black;
}
.background{
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0%;
    opacity: 10%;
}
.dialoguebox{
    position: fixed;
    bottom: 10px;
    margin: 70px;
    z-index: 2;
    color:beige;
    font-size: 20px;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    opacity: 70%;
    text-align: center;
    }
.finntalk{
    position: absolute;
    z-index: 1;
    left: -60px;
    max-width: 900px;
    opacity: 70%;
    }
.micahtalk{
    position: absolute;
    z-index: 1;
    right: -60px;
    max-width: 900px;
    margin-right: 70px;
    opacity: 70%;
}
.felicitytalk{
    position: absolute;
    z-index:1;
    right: -60px;
    margin-right: 70px;
}
button{
    bottom: 190px;
    width: 100px;
    height: 40px;
    right: 70px;
    position:fixed;
    background-color: beige;
    color: black;
    z-index: 2;
    border-radius: 10px;
    border-style: ridge;
    border-color: beige;
    font-family: Fleur De Leah, Lavishly Yours;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;

}
