body{
    font-family:'Courier New', Courier, monospace;
    color:rgb(139, 209, 148);
    background-color:#F8BD7F;
}
.even{
    color:black;
    background-color:beige;
    border-style: ridge;
    border-color:rgb(139, 209, 148);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 5px 10px #2E3C2A;
    margin: 10px
}
h1{
    text-align:center;
    text-decoration: dotted;
    text-shadow: 10px 5px 0px beige;
}
button{
    background-color: beige;
    border-style:ridge;
    border-color:rgb(139, 209, 148);
    border-radius: 5px;
    padding: 10px;
    margin-left:50%;
    margin-top: 15px;
    transform:translateX(-50%)
}
button:hover{
    background-color:rgb(139, 209, 148)

}
