body{
    background-color:#011C27;
}

.bg{
    position:relative;
    max-width: 100%;
    height:auto;
    margin: 0%;
    z-index: 1;
}

.felicity{
    max-width: 700px;
    position:relative;
    z-index: 2;
    margin-left: 1230px;
    top: -865px;
}